.main-div-todo
{
  background-color: darkcyan;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centre-div-todo
{
  background-color: aliceblue;
  width:340px;
  height:450px;
  border: 2px solid black;
  border-radius: 4%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.Heading-todo
{
  color:royalblue;
  font-family: 'Alkatra', cursive;
  margin-left:-7px;
  padding:12px;
  font-weight: 700;
  font-size: xx-large;
}
.txt-div
{
  border:2px solid black;
  margin-left: -10px;
}
.list-beautify
{
  display: flex;
}
.list-beautify>ol>li
{
  flex-direction: row;
}
